<div class="resourcesTitle">
    Dieting/Cutting Recommendations
</div>
<div class="paragraph">
    ◈ Cutting is a term used to describe a <span class="thick">period of time</span> where an individual is <span class="thick">purposely eating fewer calories than
    they need to maintain their weight.</span> Typically, this is done in order to <span class="thick">reduce body fat</span> or to <span class="thick">improve athletic performance.</span>
</div>
<div class="paragraph">
    ◈ A <span class="thick">quicker</span> rate of weight loss may cause a <span class="thick">greater loss of lean mass,</span> but <span class="thick">can reduce overall body fat more quickly.</span> While <span class="thick">slower</span> rates of weight loss will <span class="thick">preserve more lean mass,</span> they will <span class="thick">extend</span> the amount of time an individual spends in a caloric deficit. There are <span class="thick">many factors</span> to consider when choosing a <span class="thick">fast or slow rate of weight loss,</span> including <span class="thick">personal preference, goals, adherence to a hypocaloric diet, and individual responses.</span>
</div>
<div class="paragraph">
    ◈ Instead of a <span class="thick">single value</span> for daily caloric intake, SmartCoach's algorithm suggests a <span class="thick">"cutting range". Adjustments can be made</span> within this range if an individual <span class="thick">loses weight too quickly, or too slowly.</span> SmartCoach™ users can choose between a <span class="thick">conservative, moderate, aggressive, or very aggressive</span> approach to cutting. In case a user is unsure about which approach to choose, the descriptions below provides <span class="thick">guidelines.</span>
</div>
<div class="paragraph">
    ◈ The <span class="thick">upper and lower bounds</span> of the <span class="thick">recommended ranges</span> are <span class="thick">based upon typical weight loss recommendations</span> made in the literature (Garthe et al, 2011), (Roberts et al, 2020), (Murphy et al, 2015). To construct a <span class="thick">goal calorie intake range for fat loss</span> from these recommendations, subtract the upper and lower bounds of the ranges from your TDEE.
</div>
<div class="subResourcesTitle scThemeText">
    Conservative<br> [200 - 300] kcal
</div>
<div class="paragraph">
    Choose this option if you want to <span class="thick">diet slowly, are lean, and want to lose minimal muscle mass.</span>
</div>
<div class="subResourcesTitle scThemeText">
    Moderate<br> [300 - 500] kcal
</div>
<div class="paragraph">
    Choose this option if you want to <span class="thick">diet slowly, are somewhat lean, and fine if you lose a small amount of muscle mass. </span><span class="scThemeText thick">*We recommend this option if you are unsure*</span>
</div>
<div class="subResourcesTitle scThemeText">
    Aggressive<br> [500 - 750] kcal
</div>
<div class="paragraph">
    Choose this option if you want to <span class="thick">diet quickly, and are not lean. This option would be used for a short-term diet.</span>
</div>
<div class="subResourcesTitle scThemeText">
    Very Aggressive<br> [750 - 1000] kcal
</div>
<div class="paragraph">
    Choose this option if you want to <span class="thick">diet extremely quickly, are overweight or obese, and are prepared to be hungry. This option should only be used for short time periods (4 - 6 weeks).</span>
</div>