.logTitle {
  width: 100%;
  font-size: large;
  text-align: center;
  font-weight: bold;
}

.logTitle mat-icon {
  float: left;
}

.logTitleWrapper {
  text-align: center;
}

.realTitle {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.wrapper {
  overflow-y: hidden;
}


.spinnerWrapper {
  margin: auto;
}

.flexManager {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.buttonGroup {
  margin: auto;
}

.setMenuWidth {
  width: 200px !important;
}


.maxLogError {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  color: red;
  font-style: italic;
}


.spinnerMessage {
  width: 100%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.buttonGroup {
  margin: initial;
}

mat-form-field {
  text-align: center;
}

.listHolder {
  width: 100%;
  height: 220px;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  overflow: auto;
}

.scHoverText:hover {
  cursor: pointer;
}

.existingLog {
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
  border-color: #c0c0c0;
  border-width: 2px;
  border-style: solid;
  height: 40px;
  color: white;
  white-space: nowrap;
  margin-bottom: 2%;
  margin-right: 9%;
  margin-left: 9%;
}

.existingLog span {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.existingLog:hover {
  background-color: var(--main-color-darker) !important;
  cursor: pointer;
}

.greyButton {
  background-color: #536872 !important;
}

mat-list {
  width: 95%;
  height: 100%;
}

smart-coach-spinner-wheel {
  display: block;
  padding-top: 20px;
}