.logo {
  width: 100%;
  height: 100%;
}

.logoWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 600px;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.buttonGroup button {
  border-radius: 25px;
  font-weight: bold;
  width: 300px;
}

/* Header */
.header {
  background-color: transparent;
  background-attachment: scroll;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 3200px 460px;
  padding: 10em 0 20em 0;
  position: relative;
  text-align: center;
  padding-top: 20px !important;
  padding-bottom: 100px !important;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 25;
  overflow-y: auto;
}

.buttonGroup {
  margin-left: auto;
  margin-right: auto;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 0;
}

.termsAndPP {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.scThemeText:hover {
  cursor: pointer;
}

.forceFullWidth {
  width: 100%;
  min-height: 235px;
  margin-top: -30px;
}