<div class="forceCenterOnUltraLong">
  <div class="maxWidth" *ngIf='displayInDepth()'>
    <ng-particles *ngIf="this.confettiService.shouldThrowParty" id="tsparticles-confetti" [options]="this.confettiService.particlesOptions" [particlesInit]="this.confettiService.particlesInit" (particlesLoaded)="this.confettiService.particlesLoaded($event)"></ng-particles>
    <div class="inDepth">
      <mat-card class="centerDiv">
        <app-in-depth-display [displayLogObservable]="displayLogObservable">
        </app-in-depth-display>
      </mat-card>
    </div>
    <div class="listView">
      <mat-card class="centerDivBigger">
        <app-list-view [displayLogObservable]="displayLogObservable"></app-list-view>
      </mat-card>
    </div>
  </div>
  <smart-coach-spinner-wheel [spinnerMessage]="this.spinnerMessage" *ngIf='!displayInDepth()'></smart-coach-spinner-wheel>
</div>