<div class="resourcesTitle">
    Should I Bulk or Cut?
</div>
<div class="paragraph">
    ◈ Choosing between bulking and cutting can be <span class="thick">difficult</span> for someone who is <span class="thick">new to periodized nutrition.</span> The following scenarios may be helpful to you, they apply to <span class="thick">both males and females</span> with regard to calories because the <span class="thick">relative increase in muscle mass is same between genders (Roberts et al, 2020).</span> There are <span class="thick">differences</span> between the genders <span class="thick">in body fat perentages,</span> which are important to distinguish since <span class="thick">females have higher baseline percentages.</span>
</div>
<div class="subResourcesTitle scThemeText">
    Inexperienced
</div>
<div class="paragraph">
    I use the term <span class="thick">inexperienced</span> in the following three scenarios. It <span class="thick">applies</span> to people who have <span class="thick">not been training regularly or in an Evidence-Based manner for atleast 1 - 2 years.</span> It is <span class="thick">generally true</span> for most high school and college students unless you have been fortunate enough to have a <span class="thick">good coach</span> or <span class="thick">are well-versed</span> in the <span class="thick">scientific literature.</span> Regardless of which path you take, you are likely to gain muscle.
</div>
<div class="scenarioTitle scThemeText">
    Scenario #1 - Inexperienced + Lean/Skinny
</div>
<div class="paragraph">
    ◈ You have <span class="thick">less than two years</span> of experience in resistance training on a consistent basis (4 - 5 days per week). You want to <span class="thick">maximize</span> your muscle growth during this phase. You’re very skinny and comfortable with putting on some fat as long as it comes with muscle.
</div>
<div class="paragraph">
    ◈ You will <span class="thick">grow the most</span> in your <span class="thick">first 2 - 3 years</span> of resistance training. Most people put on about 8 - 15 lbs of muscle mass during this time as long as they are <span class="thick">eating enough protein (>1.8g/kg/bodyweight).</span> So, in this scenario, you would want to be in a surplus. The <span class="thick">ideal surplus</span> would probably be a <span class="thick">moderate</span> or <span class="thick">aggressive</span> approach since you’re already lean and you don’t mind putting on a few extra pounds of fat.
</div>

<div class="scenarioTitle scThemeText">
    Scenario #2 - Inexperienced + Overweight
</div>
<div class="paragraph">
    ◈ You have <span class="thick">less than two years</span> of experience resistance training on a consistent basis (4 - 5 days per week). You want to <span class="thick">maximize</span> your muscle growth during this phase. You’re overweight and not as comfortable with putting as much fat. In this case, I would suggest you <span class="thick">stick with maintenance calories</span> until you hit a long training plateau or have another 1-2 years of training experience. You can still <span class="thick">gain muscle and may even undergo recomposition</span> if you are <span class="thick">eating enough protein (>1.8 g/kg/bodyweight).</span>
</div>

<div class="scenarioTitle scThemeText">
    Scenario #3 - Inexperienced + Obese
</div>
<div class="paragraph">
    ◈ You have <span class="thick">less than two years</span> of experience resistance training on a consistent basis (4 - 5 days per week). You want to <span class="thick">lose weight</span> to feel more comfortable or for health reasons. In this case, I would suggest you try a <span class="thick">moderate (-300 - 500 kcal/day) or aggressive (-500 - 750 kcal/day) approach</span> until you are <span class="thick">normal weight (by BMI standards)</span> or reach your <span class="thick">desired body fat level.</span>
</div>

<div class="subResourcesTitle scThemeText">
    Experienced
</div>
<div class="paragraph">
    I use the term <span class="thick">experienced</span> in the following three scenarios. It <span class="thick">applies</span> to people who have been <span class="thick">training regularly</span> using an <span class="thick">Evidence-Based approach for 3+ years.</span> In general, this applies to most people who have graduated from their undergraduate or have recently become much more interested in fitness. You still have not reached your genetic limits and will grow muscle with the <span class="thick">appropriate nutrition and training program.</span>
</div>

<div class="scenarioTitle scThemeText">
    Scenario #1 - Experienced (3+ years) + Lean
</div>
<div class="paragraph">
    ◈ You’ve been training for a <span class="thick">number of years</span> and have busted through many training plateaus. You have also <span class="thick">completed atleast one or two bulk/cuts.</span> Your protein intake is <span class="thick">moderate to high (1.8 - 2.2 g/kg/bodyweight)</span> and you have a <span class="thick">good handle on your nutrition.</span> You’re <span class="thick">fairly lean (Body fat = 8 - 12 % for males and 16 - 20 % for females)</span> so you should bulk at a <span class="thick">conservative (+100 - 250 kcal/day) or moderate (+250 - 500 kcal/day) rate</span> for as long as possible. You want to squeeze all the muscle you can out of
    your bulking phases before you reach the advanced stage.
</div>

<div class="scenarioTitle scThemeText">
    Scenario #2 - Experienced (3+ years) + Overweight
</div>
<div class="paragraph">
    ◈ You’ve been training for a <span class="thick">number of years</span> and have busted through many training plateaus. You have also <span class="thick">completed atleast one or two bulk/cuts.</span> Your protein intake is <span class="thick">moderate to high (1.8 - 2.2 g/kg/bodyweight)</span> and you have a <span class="thick">decent handle on your nutrition</span> You’re <span class="thick">slightly heavier</span> than you want to be <span class="thick">(Body fat = 18 - 25 % for males, 26 - 20 % for females)</span> and want to cut for the summer, an event, or so you can set up your next bulk. You should probably cut at a <span class="thick">moderate (-300 - 500 kcal/day) or aggressive (-500 - 750 kcal/day) approach.</span> You should <span class="thick">maintain</span> your muscle mass fairly well as long as you <span class="thick">don't go below ~6 - 8 % body fat.</span>
</div>

<div class="scenarioTitle scThemeText">
    Scenario #3 - Experienced (3+ years) + Obese
</div>
<div class="paragraph">
    ◈ You’ve been training for a <span class="thick">number of years</span> and have busted through many training plateaus. You may have <span class="thick">never</span> tried to cut before. Your protein intake is <span class="thick">moderate to high (1.8 - 2.2 g/kg/bodyweight)</span> but you haven’t been tracking your nutrition or have gotten off track due to life (it happens). You’re much heavier than you want to be, but have a solid base of muscle. You want to cut to for health reasons, to be leaner in general, and potentially to set up your next bulk (not recommended). You should probably cut with an <span class="thick">aggressive (-500 - 750 kcal/day) or very aggressive (-750 - 1000 kcal/day) approach.</span> You’ll want to have a <span class="thick">higher protein intake</span> than most people during your cut <span class="thick">(2.5 - 3.5 g/kg/bodyweight).</span>
</div>

<div class="subResourcesTitle scThemeText">
    Advanced
</div>
<div class="paragraph">
    In the following three scenarios I use the term <span class="thick">advanced</span>. This applies to people who have been <span class="thick">training regularly</span> using an <span class="thick">Evidence-Based approach for 5+ years.</span> In general, you have tried a lot of training programs, and know what foods to eat during a bulk/cut. You have <span class="thick">almost reached your genetic limit</span> and will grow only a minimal muscle with the appropriate nutrition and training program. It will probably take a year or longer to see an increase in muscle in a picture.
</div>

<div class="scenarioTitle scThemeText">
    Scenario #1 - Advanced (5+ years) + Lean
</div>
<div class="paragraph">
    ◈ You’ve been training for a <span class="thick">long time</span> now. It’s part of your routine and you have probably figured out which training methods <span class="thick">work best for you</span>. Your protein intake is <span class="thick">high (2.2+ g/kg/bodyweight)</span> and you have a <span class="thick">very good handle on your nutrition</span>. You’re <span class="thick">fairly lean (Body fat = 10 - 12 % for males, 14 - 18 % for females).</span> You should do a <span class="thick">conservative bulk (+100 - 250 kcal/day).</span> You aren’t going to grow muscle quickly and a <span class="thick">higher surplus may result in a shorter bulk,</span> which could minimize your muscle growth before you feel the need to cut.
</div>

<div class="scenarioTitle scThemeText">
    Scenario #2 - Advanced (5+ years) + Overweight
</div>
<div class="paragraph">
    ◈ You’ve been training for a <span class="thick">long time</span> now. It’s part of your routine and you have probably figured out which training methods <span class="thick">work best for you</span>. Your protein intake is <span class="thick">high (2.2+ g/kg/bodyweight)</span> and you have a <span class="thick">decent handle on your nutrition.</span> You’re a <span class="thick">bit overweight (20 - 25 % body fat).</span> You should cut and the best approach is probably from our <span class="thick">moderate (-300 - 500 kcal/day) or aggressive (-500 - 750 kcal/day) approach.</span> You should maintain your muscle mass fairly well as long as you <span class="thick">don’t get too lean (Body fat less than 8 % for males, less than 12 % for females).</span> Pay attention to your training and recovery and adjust your deficit as needed.
</div>

<div class="scenarioTitle scThemeText">
    Scenario #3 - Advanced (5+ years) + Obese
</div>
<div class="paragraph">
    ◈ You’ve been training for a <span class="thick">long time</span> now. It’s part of your routine and you have probably figured out which training methods <span class="thick">work best for you</span>. Your protein intake is <span class="thick">high (2.2+ g/kg/bodyweight)</span> and you have a <span class="thick">very good handle on your nutrition</span>, in general. You’re a <span class="thick">good bit overweight (30+ % body fat) and obese by BMI standards.</span> You should cut and your best method is probably our <span class="thick">aggressive (-500 - 750 kcal/day) or very aggressive (-750 - 1000 kcal/day) approach.</span> You’ll want to have a <span class="thick">higher protein intake</span> than most people during your cut <span class="thick">(2.5 - 3.5 g/kg/bodyweight).</span> You don’t have to worry about losing muscle for a long time.
</div>