<div>
  <div class="wrapper">
    <div class="logoWrapper">
      <img class='logo' src="./assets/cube-min.png">
    </div>
    <div class="buttons" [ngClass]="{'forceFullWidth':this.environmentService.isMobile}"
      *ngIf="this.stateManager.userIsNotAuthenticated();">
      <h3>New To SmartCoach™?</h3>
      <div class="buttonGroup">
        <button mat-raised-button type="button" class="buttonGroupButton" (click)="this.goToRegister()">
          <div class='buttonFlexManager' fxLayout="row">
            <div class='buttonIconWrapper'>
              <mat-icon>
                how_to_reg</mat-icon>
            </div>
            <div class='buttonTextWrapper'>
              &nbsp;REGISTER
            </div>
          </div>
        </button>
      </div>
      <h3>Already Registered?</h3>
      <div class="buttonGroup">
        <button mat-raised-button type="button" class="buttonGroupButton" (click)="this.goToSignIn()">
          <div class='buttonFlexManager' fxLayout="row">
            <div class='buttonIconWrapper'>
              <mat-icon>
                touch_app</mat-icon>
            </div>
            <div class='buttonTextWrapper'>
              &nbsp;SIGN-IN
            </div>
          </div>
        </button>
      </div>
      <h3>Continue As Guest</h3>
      <div class="buttonGroup">
        <button mat-raised-button type="button" class="buttonGroupButton" (click)="this.goToGuestRegister()">
          <div class='buttonFlexManager' fxLayout="row">
            <div class='buttonIconWrapper'>
              <mat-icon>
                supervisor_account</mat-icon>
            </div>
            <div class='buttonTextWrapper'>
              &nbsp;GUEST SIGN-IN
            </div>
          </div>
        </button>
      </div>
      <h3>Check Out What Others Say</h3>
      <div class="buttonGroup">
        <button mat-raised-button type="button" class="buttonGroupButton" (click)="this.goToUserTestimonials()">
          <div class='buttonFlexManager glowingButton' fxLayout="row">
            <div class='buttonIconWrapper'>
              <mat-icon>
                rate_review</mat-icon>
            </div>
            <div class='buttonTextWrapper'>
              &nbsp;TESTIMONIALS
            </div>
          </div>
        </button>
      </div>
    </div>
    <div class="buttons" [ngClass]="{'forceFullWidth':this.environmentService.isMobile}"
      *ngIf="this.stateManager.userIsAuthenticated();">
      <h3>Go To App</h3>
      <div class="buttonGroup">
        <button mat-raised-button type="button" class="buttonGroupButton" (click)="this.goToDash()">
          <div class='buttonFlexManager' fxLayout="row">
            <div class='buttonIconWrapper'>
              <mat-icon>dashboard</mat-icon>
            </div>
            <div class='buttonTextWrapper'>
              &nbsp;DASHBOARD
            </div>
          </div>
        </button>
      </div>
    </div>
    <div class="termsAndPP">
      <span class="scThemeText" (click)="goToTerms()">Terms of Service</span><span>&nbsp;and&nbsp;</span><span
        (click)="goToPrivacy()" class="scThemeText">Privacy Policy</span>
    </div>
  </div>
  <div class="waveWrapper waveAnimation" *ngIf="this.environmentService.isWeb">
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="background-image: url('./assets/homepage/wave-mid.png')">
      </div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="background-image: url('./assets/homepage/wave-bot.png')">
      </div>
    </div>
  </div>
  <div class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>