<div class="wrapper">
  <mat-toolbar *ngIf="showWebNav()">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="menu-spacer"></span>
      <div class="menuItems" fxShow="true" fxHide.lt-md>
        <a routerLink="/dashboard" *ngIf="state.userIsAuthenticated()">
          Dashboard&nbsp;<mat-icon>dashboard</mat-icon>
        </a>
        <a routerLink="auth/register" *ngIf="state.userIsNotAuthenticated()">
          Register&nbsp;<mat-icon>how_to_reg</mat-icon>
        </a>
        <a routerLink="nutrition-logs" *ngIf="state.userIsAuthenticated()">
          Logs&nbsp;<mat-icon>library_books</mat-icon>
        </a>
        <a routerLink='resources' *ngIf="state.userIsAuthenticated()">
          Resources&nbsp;<mat-icon>widgets</mat-icon>
        </a>
        <a routerLink="profile" *ngIf="state.userIsAuthenticated()">
          Profile&nbsp;<mat-icon>perm_identity</mat-icon>
        </a>
        <a routerLink="auth/login" *ngIf="state.userIsNotAuthenticated()">
          Sign-In&nbsp;<mat-icon>touch_app</mat-icon>
        </a>
        <a routerLink="auth/guestRegister" *ngIf="state.userIsNotAuthenticated()">
          Guest Sign-In&nbsp;<mat-icon>supervisor_account</mat-icon>
        </a>
        <a routerLink="auth/testimonials" *ngIf="state.userIsNotAuthenticated()">
          Testimonials&nbsp;<mat-icon>rate_review</mat-icon>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar *ngIf="showMobileNav()" class="mobileToolBar mobileToolBarBottom mat-elevation-z15">
    <div class="mobileToolBarBottomContainer">
      <a routerLink="/dashboard" class="mobileLinkContainer scHoverText" routerLinkActive="scThemeText"
        *ngIf="state.userIsAuthenticated()">
        <mat-icon>dashboard</mat-icon>
        <div class=" mobileHeaderIconText">
          Dashboard
        </div>
      </a>

      <a routerLink="nutrition-logs" class="mobileLinkContainer scHoverText" routerLinkActive="scThemeText"
        *ngIf="state.userIsAuthenticated()">
        <mat-icon>library_books</mat-icon>
        <div class="mobileHeaderIconText">
          Logs
        </div>
      </a>

      <a routerLink="resources" class="mobileLinkContainer scHoverText" routerLinkActive="scThemeText"
        *ngIf="state.userIsAuthenticated()">
        <mat-icon>widgets</mat-icon>
        <div class="mobileHeaderIconText">
          Resources
        </div>
      </a>

      <a routerLink="profile" class="mobileLinkContainer scHoverText" routerLinkActive="scThemeText"
        *ngIf="state.userIsAuthenticated()">
        <mat-icon>perm_identity</mat-icon>
        <div class="mobileHeaderIconText">
          Profile
        </div>
      </a>

      <a routerLink="/" class="mobileLinkContainer scHoverText" routerLinkActive="scThemeText"
        [routerLinkActiveOptions]="{ exact: true }" *ngIf="state.userIsNotAuthenticated()">
        <mat-icon>home</mat-icon>
        <div class="mobileHeaderIconText">
          Home
        </div>
      </a>

      <a routerLink="auth/register" class="mobileLinkContainer scHoverText" routerLinkActive="scThemeText"
        *ngIf="state.userIsNotAuthenticated()">
        <mat-icon>how_to_reg</mat-icon>
        <div class="mobileHeaderIconText">
          Register
        </div>
      </a>

      <a routerLink="auth/login" class="mobileLinkContainer scHoverText" routerLinkActive="scThemeText"
        *ngIf="state.userIsNotAuthenticated()">
        <mat-icon>touch_app</mat-icon>
        <div class="mobileHeaderIconText">
          Sign-In
        </div>
      </a>

      <a routerLink="auth/guestRegister" class="mobileLinkContainer scHoverText" routerLinkActive="scThemeText"
        *ngIf="state.userIsNotAuthenticated()">
        <mat-icon>supervisor_account</mat-icon>
        <div class="mobileHeaderIconText">
          Guest Sign-In
        </div>
      </a>

      <a routerLink="auth/testimonials" class="mobileLinkContainer scHoverText" routerLinkActive="scThemeText"
        *ngIf="state.userIsNotAuthenticated()">
        <mat-icon>rate_review</mat-icon>
        <div class="mobileHeaderIconText">
          Testimonials
        </div>
      </a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container [ngClass]="{'mobileSideNav':this.rubberBandSideNav()}">
    <mat-sidenav class="mat-elevation-z8" #sidenav [autoFocus]="false">
      <mat-nav-list class="sideBar">
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>highlight_off</mat-icon>&nbsp;&nbsp;Close
        </a>
        <mat-divider></mat-divider>
        <a routerLink="auth/register" *ngIf="state.userIsNotAuthenticated()" mat-list-item>
          <mat-icon>how_to_reg</mat-icon>&nbsp;&nbsp;Register
        </a>
        <a routerLink="dashboard" *ngIf='state.userIsAuthenticated()' mat-list-item>
          <mat-icon>dashboard</mat-icon>&nbsp;&nbsp;Dashboard
        </a>
        <a routerLink="nutrition-logs" mat-list-item *ngIf="state.userIsAuthenticated()">
          <mat-icon>library_books</mat-icon>&nbsp;&nbsp;Logs
        </a>
        <a routerLink='resources' mat-list-item *ngIf="state.userIsAuthenticated()">
          <mat-icon>widgets</mat-icon>&nbsp;&nbsp;Resources
        </a>
        <a routerLink="auth/login" *ngIf="state.userIsNotAuthenticated()" mat-list-item>
          <mat-icon>touch_app</mat-icon>&nbsp;&nbsp;Sign-In
        </a>
        <a routerLink="auth/guestRegister" *ngIf="state.userIsNotAuthenticated()" mat-list-item>
          <mat-icon>supervisor_account</mat-icon>&nbsp;&nbsp;Guest Sign-In
        </a>
        <a routerLink="profile" mat-list-item *ngIf="state.userIsAuthenticated()">
          <mat-icon>perm_identity</mat-icon>&nbsp;&nbsp;Profile
        </a>
        <a routerLink="auth/testimonials" *ngIf="state.userIsNotAuthenticated()" mat-list-item >
          <mat-icon>rate_review</mat-icon>&nbsp;&nbsp;Testimonials
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <div class="fill-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-container>
</div>