mat-card {
  display: block;
  margin: auto;
  min-width: 40%;
  width: 95%;
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
}

.buttonGroup {
  margin-top:15px;
}

.preferenceTable {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.preferenceHeader {
  font-size: medium;
  font-weight: bold;
}

.subscriptionValue {
  font-size: medium
}

/* Align table columns */
.preferenceTable tr td {
  width:50%;
  border-bottom: 0.5px solid #0000001f;
}

mat-form-field {
  text-align: center;
  margin-bottom: -4px;
}

.mimicHeight{
  height:50px;
  display:flex;
  align-items: center;
  justify-content: center;
}