<div class='buttonGroup'>
  <button mat-raised-button class="buttonGroupButton" type='button' *ngIf="latestEntryIsIncomplete()">
    <div class='buttonFlexManager' fxLayout="row" (click)="openFinish()">
      <div class='buttonIconWrapper'>
        <mat-icon>check_circle_outline</mat-icon>
      </div>
      <div class='buttonTextWrapper'>
        &nbsp; FINISH {{payload.latestDate | date: 'dd/MM'}}
      </div>
    </div>
  </button>
  <button mat-raised-button class="buttonGroupButton" [ngClass]="{'bigAddButton': !latestEntryIsIncomplete()}"
    type='button'>
    <div class='buttonFlexManager' fxLayout="row" (click)="openQuickAdd()">
      <div class='buttonIconWrapper'>
        <mat-icon>add_circle_outline</mat-icon>
      </div>
      <div class='buttonTextWrapper'>
        &nbsp; ADD {{getAutoPromptDate() | date: 'dd/MM'}}
      </div>
    </div>
  </button>
</div>
<mat-card class="bigWrapper gradientAnimationBackground mat-elevation-z3">
  <div class="headerWrapper gradientAnimationBackground">
    <div class="headerContent">
      <mat-icon class="nutrLogIcon">
        library_books
      </mat-icon>
      <div class="logTitle">
        {{logModel?.title}}&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>
  <div class="overView">
    <table>
      <tr class="showBottomBorder">
        <th class="var">Starting Weight</th>
        <td class="showRightBorder"> {{this.payload?.startWeight | WeightPipe}} </td>
        <th class="var">Current Weight</th>
        <td>{{this.payload?.currentWeight | WeightPipe }}</td>
      </tr>
      <tr class="showBottomBorder">
        <th class="var">First Entry</th>
        <td class="showRightBorder">
          <span *ngIf="this.payload.startDate">{{this.payload?.startDate | date : 'dd/MM/yy'}}</span>
          <span *ngIf="!(this.payload.startDate)">-</span>
        </td>
        <th class="var">Latest Entry</th>
        <td>
          <span *ngIf="this.payload.latestDate ">{{this.payload?.latestDate | date : 'dd/MM/yy'}}</span>
          <span *ngIf="!(this.payload.latestDate )">-</span>
        </td>
      </tr>
      <tr *ngIf="(this.payload?.goalIntakeRange)">
        <td colspan="4">
          <div class="payloadGoalFlexManager">
            <div class="thick">{{constants.getDisplayForGoal(logModel?.goal)}}<br> Goal Intake</div>
            <div>{{ this.payload?.goalIntakeRange.replace("kcal",'')}}</div>
          </div>
        </td>
      </tr>
      <tr *ngIf="!(this.payload?.goalIntakeRange)">
        <td></td>
        <th class="var">GOAL</th>
        <td>{{constants.getDisplayForGoal(logModel?.goal)}}</td>
      </tr>
    </table>
  </div>
  <div class="buttons">
    <button id="shepherdStepNine" (click)="this.fbNutr.openInDepthNutritionLog(this.logModel);" class="open" mat-button
      style="width:33.33%;">
      <mat-icon>open_in_new</mat-icon>&nbsp;OPEN
    </button>
    <button (click)="this.dialogService.openNutritionLogModifyDialog(this.logModel, false);" class="edit" mat-button
      style="width:33.33%;">
      <mat-icon>edit</mat-icon>&nbsp;EDIT
    </button>
    <button (click)='this.dialogService.openLogManagementDialog(this.logModel)' class="settings" mat-button
      style="width:33.33%">
      <mat-icon>settings</mat-icon>&nbsp;OPTIONS
    </button>
  </div>
</mat-card>