smart-coach-spinner-wheel {
    margin-left: auto;
    margin-right: auto;
}

.spinnerMessage {
    font-style: italic;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: small;
}