<div class="resourcesTitle">
    Gaining/Bulking Recommendations
</div>
<div class="paragraph">
    ◈ Bulking is a term used to describe a <span class="thick">period of time</span> where an individual is <span class="thick">purposely eating more calories (aka overfeeding) than they need to maintain their bodyweight.</span> Typically, this is done in order to <span class="thick">gain muscle</span> or <span class="thick">improve sports performance</span> because the <span class="thick">most significant gains are often seen in a caloric surplus (Iraki et al, 2019).</span> Moreover, it is now well documented that you can <span class="thick">only gain a finite amount of muslce over any given period of time and excess weight gained will be stored as fat (Garthe et al, 2013).</span>
</div>
<div class="paragraph">
    ◈ As a result, it is <span class="thick">imperative to keep the caloric surplus in check when bulking.</span> In other words, the <span class="thick">surplus has a direct impact on the rate of weight gain.</span> Bulking up <span class="thick">too fast</span> can cause an individual to <span class="thick">gain excessive fat</span> to the point that their body composition or athletic performance becomes <span class="thick">undesirable</span>, and they must stop. In contrast, those who gain weight <span class="thick">too slowly</span> risk gaining at a <span class="thick">suboptimal rate.</span>
</div>
<div class="paragraph">
    ◈ Instead of a <span class="thick">single value</span> for daily caloric intake, SmartCoach's algorithm suggests a <span class="thick">"bulking range".</span> The range can be <span class="thick">conservative, moderate, or aggressive,</span> depending on the <span class="thick">user's preference.</span> In the descriptions below, we explain which approach to choose if a user is unsure. <span class="thick">Several studies</span> have established the lower and upper bounds of the bulking ranges. Based on
    the <span class="thick">literature's typical recommendations,</span> we can arrive at the following <span class="thick">recommended ranges</span> for eating above your TDEE when trying to <span class="thick">gain muscle.</span>
</div>
<div class="subResourcesTitle scThemeText">
    Conservative<br> [100 - 250] kcal
</div>
<div class="paragraph">
    Choose this option if you want to <span class="thick">gain very slowly, are somewhat lean, have 5+ years of training experience, and want to be in a surplus for a long period before having to cut again.</span>
</div>
<div class="subResourcesTitle scThemeText">
    Moderate<br> [250 - 500] kcal
</div>
<div class="paragraph">
    Choose this option if you want to <span class="thick">gain slowly, and are fairly lean, and have 3+ years of training experience. </span>
    <span class="scThemeText thick">*We recommend this option if you are unsure*</span>
</div>
<div class="subResourcesTitle scThemeText">
    Aggressive<br> [500 - 750] kcal
</div>
<div class="paragraph">
    Choose this option if you want to <span class="thick">gain quickly, are fairly lean, and are new to training.</span>
</div>