.logTitle {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

.logTitle mat-icon {
  float: left;
}

.realTitle {
  overflow-x: hidden;
  overflow-y: hidden;
}

.logSubtitle {
  width: 100%;
  font-size: 1.1rem;
  text-align: center;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.spinnerWrapper {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.messageHolder {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  padding-bottom: 15px;
}

.message {
  max-height: 100%;
  overflow-y: auto;
}

.greyButton {
  background-color: #536872;
}

.greyButton:hover {
  background-color: #5A6673;
}

.wrapper {
  padding: 24px;
}

.buttonGroupWrapper {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 100%;
  display: block;
}

.buttonGroupButton {
  max-width: 240px;
}

.buttonGroup {
  width: 250px;
}

.buttonGroup button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.halfButtonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.halfButtonWrapper button {
  margin: 5px;
  width: 150px;
}

p {
  margin-bottom: 5px;
}