<form [formGroup]="authenticateForm" (ngSubmit)="handleSubmit()">
  <div class="fillHeight" [ngClass]=" { 'fillHeightMobile' : this.environmentService.isMobile }">
    <div fxLayout="row" fxLayoutAlign="center center" class="login-main"
      [ngClass]=" { 'login-main-mobile' : this.environmentService.isMobile  }">
      <mat-card class='mainContent'>
        <mat-card-header class='noMarginHeaderText'>
          <mat-card-title>
            <h1>
              <mat-icon style="float: left; margin-top: 10px;" class='scThemeText'>touch_app</mat-icon>&nbsp;Sign-In
            </h1>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <div class="errorText" *ngIf="showErrorMessage">
          * {{errorMessage}}
        </div>
        <mat-card-content fxLayout="column">
          <mat-form-field class='email'>
            <input class="inputWidth" type="text" autocomplete="username" [formControlName]="FORM_CONTROL_USERNAME"
              matInput required maxlength="256">
            <mat-placeholder>Email</mat-placeholder>
            <mat-icon style="color: #c0c0c0;">email</mat-icon>
            <mat-error>
              email required
            </mat-error>
          </mat-form-field>
          <mat-form-field class='password'>
            <input class="inputWidth" autocomplete="password" [formControlName]="FORM_CONTROL_PASSWORD" type="password"
              matInput required maxlength="256">
            <mat-placeholder>Password</mat-placeholder>
            <mat-icon style="color: #c0c0c0;">security</mat-icon>
            <mat-error>
              password required
            </mat-error>
          </mat-form-field>
        </mat-card-content>

        <div class='buttonGroup'>
          <smart-coach-spinner-wheel *ngIf='showSpinner' [spinnerMessage]="this.spinnerMessage">
          </smart-coach-spinner-wheel>
          <button type="submit" mat-raised-button [disabled]="!authenticateForm.valid" class='buttonGroupButton'
            *ngIf="!showSpinner">
            <div class='buttonFlexManager' fxLayout="row">
              <div class='buttonIconWrapper'>
                <mat-icon style="margin-top: 5.5px;">
                  verified_user
                </mat-icon>
              </div>
              <div class='buttonTextWrapper'>
                &nbsp; SIGN-IN
              </div>
            </div>
          </button>
        </div>
        <div class="clickToReg" *ngIf="!showSpinner">Don't have an account?
          <br>
          <a class="scThemeText" routerLink="/auth/register">
            Click here to register
          </a>
        </div>
        <div *ngIf="showReset">
          <mat-divider>
          </mat-divider>
          <div class="clickToReg">Forgot your password? <br>
            <span class="scThemeText">
              <a (click)="resetPassword()" style="cursor: pointer;">
                Click here to reset
              </a>
            </span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="waveWrapper waveAnimation" *ngIf="this.environmentService.isWeb">
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="background-image: url('./assets/homepage/wave-mid.png')">
      </div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="background-image: url('./assets/homepage/wave-bot.png')">
      </div>
    </div>
  </div>
</form>

<!-- Circles -->
<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>