.header-container {
  min-height: 25px;
  max-height: 25px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  max-width: 430px;
  flex-basis: 430px;
  text-align: left;
  padding-left: 5px;
}

.header-container a {
  width: 100%;
}

i {
  margin-left: 5px;
}

.cardWrapper {
  width: 20vw;
  height: 35vh;
  width: 95%;
  max-width: 400px;
  min-height: 290px;
  max-height: 310px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -45px;
}

.card {
  width: 100%;
  padding: 0px;
  height: 60%;
  border-radius: 17px !important;
}

.frame-parent {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  /* Prevent linkedin overflow */
  .overflowAuto {
    overflow: auto;
  }
}

.youtube-frame {
  width: 100%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
}

.linkedin-frame {
  width: 100%;
  height: 100%;
}

.instagram-parent {
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.instagram-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #c0c0c0;
  border-style: solid;
  border-width: 1px;
  height: 100%;
}

.instagram-image-container a img,
.instagram-image-container a {
  width: 100%;
  height: 100%;
}

.instagram-image-container a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram-description-container {
  border-top: #c0c0c0 1px solid;
  margin-top: 10px;
  text-align: center;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.instagram-description-text {
  text-align: center;
}

.parent {
  height: 100%;
  width: 100%;
}

.socialCardContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}

a {
  text-decoration: none !important;
}

.linkedinIcon,
.instagramIcon {
  width: 24px;
  height: 24px
}

.youtubeIcon {
  width: 30px;
  height: 30px
}