<div clas="wrapper" *ngIf="!showSpinner">
  <div class='header'>
    <div class='logTitle'>
      <mat-icon class="scThemeText">email</mat-icon>
      <div class='realTitle'> Send password reset email to
        <br>
        <span class='scThemeText'>{{this.data.email}}</span> ?
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <br>
  <div class="buttonGroup">
    <button class='greenButton buttonGroupButton' (click)="attemptToSendResetEmail()" type="submit" mat-raised-button id="submitButton">
      <div class='buttonFlexManager' fxLayout="row">
        <div class='buttonIconWrapper'>
          <mat-icon>email</mat-icon>
        </div>
        <div class='buttonTextWrapper'>
          &nbsp; SEND
        </div>
      </div>
    </button>
    <button class="greyButton buttonGroupButton" mat-button (click)="this.dialogRef.close()">
      <div class='buttonFlexManager' fxLayout="row">
        <div class='buttonIconWrapper'>
          <mat-icon>cancel_presentation</mat-icon>
        </div>
        <div class='buttonTextWrapper'>
          &nbsp; CLOSE
        </div>
      </div>
    </button>
  </div>
</div>
<smart-coach-spinner-wheel *ngIf="showSpinner" [spinnerMessage]="this.spinnerMessage"></smart-coach-spinner-wheel>