.logTitle {
  width: 100%;
  font-size: large;
  text-align: center;
  font-weight: bold;
}

.logTitle mat-icon {
  float: left;
}

.realTitle {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  font-size:medium;
}

.wrapper {
  text-align: center;
}

.message {
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

button {
  display: block;
  margin: auto;
  width: 100%;
  height: 50%;
}

.greyButton {
  margin-top: 5px;
}

.spinnerMessage{
  font-style:italic;
  font-weight: bold;
  width:100%;
  text-align: center;
  font-size: small;
}

smart-coach-spinner-wheel{
  margin-left:auto;
  margin-right:auto;
  display:block;
}
