<div class="wrapper scrolling-section">
    <div class="text-center gradientAnimationBackground">
        <div class="logoFlexManager">
            <div class="logoImage">
                <img alt="Footer logo" src="./assets/cube-min.png">
            </div>
            <p class="title thick">Ready to create an account with SmartCoach™?</p>
        </div>
        <div class="sellingPoints" [innerHTML]="getUpgradeSellingPoints()"></div>
        <form [formGroup]="guestRegisterForm" (ngSubmit)="handleSubmit()">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-card class='mainContent'>
                    <mat-card-header class='noMarginHeaderText'>
                        <mat-card-title>
                            <h4>
                                <mat-icon class='scThemeText'>how_to_reg</mat-icon>&nbsp;&nbsp;&nbsp;Register
                            </h4>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content fxLayout="column">
                        <!---------------------------- Username and email --------------------------->
                        <div class="saveSpace">
                            <div class="formFieldWrapper">
                                <mat-form-field>
                                    <div class="scThemeText formFieldHeader">Email</div>
                                    <input class="inputWidth" type="text" [formControlName]="FORM_CONTROL_EMAIL"
                                        matInput maxlength="256">
                                    <mat-icon style="float:right;">email</mat-icon>
                                    <mat-error>
                                        * valid email required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <!---------------------------- Password initial and repeat --------------------------->
                        <div class="saveSpace">
                            <div class="formFieldWrapper">
                                <mat-form-field>
                                    <div class="scThemeText formFieldHeader">Password</div>
                                    <input class="inputWidth" autocomplete="new-password"
                                        [formControlName]="FORM_CONTROL_PASSWORD" type="password" matInput minlength="7"
                                        maxlength="256">
                                    <mat-icon style="float:right;">security</mat-icon>
                                    <mat-error>
                                        * password Required - no whitespace - 7 character minimum
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="formFieldWrapper">
                                <mat-form-field>
                                    <div class="scThemeText formFieldHeader">Repeat Password</div>
                                    <input class="inputWidth" autocomplete="new-password"
                                        [formControlName]="FORM_CONTROL_PASSWORD_CONFIRMATION" type="password" matInput
                                        minlength="7" maxlength="256">
                                    <mat-icon style="float:right;">security</mat-icon>
                                    <mat-error>
                                        * password Required - no whitespace - 7 character minimum
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="spinnerButtonWrapper">
                            <div *ngIf="showSpinner">
                                <smart-coach-spinner-wheel [spinnerMessage]="this.spinnerMessage">
                                </smart-coach-spinner-wheel>
                            </div>
                        </div>
                        <div class="termsContentWrapper">
                            <mat-checkbox [formControlName]="FORM_CONTROL_AGREE_TO_TERMS" class="terms"
                                *ngIf='showSpinner == false'>
                                I agree
                                to terms of service
                            </mat-checkbox>
                        </div>
                        <div class='buttonGroup'>
                            <button type="submit" mat-raised-button
                                [disabled]="!guestRegisterForm.valid || !userAgreesToTerms() || showSpinner" class='buttonGroupButton'>
                                <div class='buttonFlexManager' fxLayout="row">
                                    <div class='buttonIconWrapper'>
                                        <mat-icon>
                                            touch_app
                                        </mat-icon>
                                    </div>
                                    <div class='buttonTextWrapper'>
                                        &nbsp;&nbsp;REGISTER
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="errorMessage" *ngIf="showSpinner == false && hasErrorMessage()">* {{errorMessage}}
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </form>
        <div class='buttonGroup'>
            <button class="greyButton buttonGroupButton" mat-raised-button (click)="closeDialog()">
                <div class='buttonFlexManager' fxLayout="row">
                    <div class='buttonIconWrapper'>
                        <mat-icon>cancel</mat-icon>
                    </div>
                    <div class='buttonTextWrapper'>
                        &nbsp; CLOSE
                    </div>
                </div>
            </button>
        </div>
        <div class="freeTrial" *ngIf="userIsGuest() && !guestHasNotUpgraded()"> Guest Trial -
            {{this.permissions.daysLeftInCurrentUserTrial()}} Days Left </div>
        <div class="freeTrial" *ngIf="userIsGuest() && guestHasNotUpgraded()"> Guest Trial - 0 Days Left </div>
        <div class="termsAndPP">
            <span class="scThemeText" (click)="goToTerms()">Terms of Service</span>&nbsp;and&nbsp;<span
                (click)="goToPrivacy()" class="scThemeText">Privacy Policy</span>
            <br>
        </div>
    </div>
</div>