.text-center {
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

.logoImage {
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.logoImage img {
  width: 100px;
  height: 100px;
}

.wrapper {
  min-height: 500px;
  max-height: 700px;
  height: 100%;
  min-width: 250px;
  max-width: 350px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}

.termsAndPP {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: small;
}

.title {
  width: 100%;
  text-align: center;
}

.greyButton {
  background-color: #536872;
  margin-top: 10px;
}

.greyButton:hover {
  background-color: #5A6673;
}

.buttonGroupButton {
  border-radius: 8px;
}

.freeTrial {
  margin-top: 15px;
  font-style: italic;
}

.scThemeText:hover {
  cursor: pointer;
}

.sellingPoints {
  width: 95%;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
}

mat-icon.scThemeText {
  cursor: default !important;
  font-size: 30px;
  height: 35px;
}

.mainContent {
  width: 95%;
  min-width: 290px;
  max-width: 1000px;
  text-align: center;
  font-size: large;
  margin-top: 20px;
  margin-bottom: 15px;
}

.demoMessage {
  font-size: small;
  width: 100%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 10px;
  max-width: 700px;
}

.boldDemoMessage {
  font-weight: bold;
  font-size: medium;
}

mat-card-header mat-card-title {
  height: 40px;
  justify-content: center;
  margin-bottom: 0px;
}

mat-card-header {
  display: inline;
}

.inputWidth {
  width: 85%;
  margin-top: 5px;
}

mat-form-field {
  width: 95%;
}

.errorMessage {
  margin-top: 10px;
  color: red;
  font-weight: bold;
  font-size: small;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

.termsContentWrapper {
  height: 35px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.spinnerButtonWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}