.register-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 25;
}

.mainContent {
  width: 95%;
  min-width: 290px;
  max-width: 1000px;
  text-align: center;
  font-size: large;
}

.formFieldHeader {
  text-align: left;
  font-size: large;
  width: 100%;
}

.heightTitle,
.genderTitle {
  text-align: left;
  font-weight: bold;
  font-size: large;
}

.heightTitle {
  text-align: center;
}

.genderToggle {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

mat-card-title {
  font-weight: bold;
}

mat-form-field {
  width: 100%;
  text-align: center
}

.formFieldWrapper {
  padding: 10px;
  flex-grow: 1;
  min-width: 250px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

input {
  font-size: large;
}

mat-card-content {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.feet,
.inches {
  width: 35%;
}

mat-tab-group {
  display: block;
  margin: auto;
  width: 100%;
  margin-right: 25%;
}

mat-error {
  font-style: italic;
  padding-bottom: 25px;
}

.terms {
  margin-top: 20px;
}

.viewTerms {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-style: solid;
  border-color: #C0C0C0;
  color: #C0C0C0;
  border-width: 2px;
  width: 220px;
  border-radius: 2px;
}

.viewTerms:hover {
  cursor: pointer;
}

smart-coach-spinner-wheel {
  margin-left: auto;
  margin-right: auto;
}

.saveSpace {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.imperialHeader {
  width: fit-content;
  padding-top: 4%;
}

form {
  padding-bottom: 40px;
  padding-top: 10px;
  background: transparent;
  min-height: 100vh;
  display: flex;
  overflow: auto;
}

.spinnerMessage {
  font-style: italic;
  font-size: medium;
  font-weight: bold;
}

.errorMessage {
  height: 70px;
  margin-top: 20px;
  color: red;
  font-weight: bold;
  font-size: small;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

.forceAlignSelectHeadersVertically {
  margin-bottom: 25px;
}

.termsContentWrapper {
  height: 65px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.buttonGroup {
  height: 45px;
}

.demoMessage {
  font-size: small;
  width: 100%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 10px;
  max-width: 700px;
}

.boldDemoMessage {
  font-weight: bold;
  font-size: medium;
}

.inputWidth {
  width: 85%;
}

.imperialInputWidth {
  width: 80%;
}

.circles {
  background: #C33764;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}