<form [formGroup]="logManagementForm">
  <mat-card class='controlPanel'>
    <mat-card-header class='noMarginHeaderText'>
      <mat-card-title>
        <h1>
          <mat-icon class='scThemeText'>library_books</mat-icon> Logs
        </h1>
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="flexManager">
      <div class="formSelects">
        <mat-form-field>
          <mat-label>Sort By</mat-label>
          <mat-select formControlName='orderProperty' [disableControl]='spinnerIsShowing()'>
            <mat-option [value]="PROPERTY_LAST_EDIT">Last Edit</mat-option>
            <mat-option [value]="PROPERTY_CREATED">Created</mat-option>
            <mat-option [value]="PROPERTY_TITLE">Title</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Order By</mat-label>
          <mat-select formControlName='ordering' [disableControl]='spinnerIsShowing()'>
            <mat-option [value]="ORDER_DESC">Descending</mat-option>
            <mat-option [value]="ORDER_ASC">Ascending</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class='buttonGroup'>
        <button mat-raised-button (click)="applyOrdering()" class=" buttonGroupButton"
          [disabled]='spinnerIsShowing() || (listOfNutritionLogs.length == 0)'
          [ngClass]=" { 'scButton' : !(showSpinner) , 'disabledButton' : showSpinner  }" type='button'>
          <div class='buttonFlexManager' fxLayout="row">
            <div class='buttonIconWrapper'>
              <mat-icon>sort</mat-icon>
            </div>
            <div class='buttonTextWrapper'>
              &nbsp; SORT
            </div>
          </div>
        </button>

        <button mat-raised-button (click)="createNewLog()" type='button' class="buttonGroupButton"
          [disabled]='spinnerIsShowing()'
          [ngClass]=" { 'lsButton' : !(showSpinner) , 'disabledButton' : showSpinner  }">
          <div class='buttonFlexManager' fxLayout="row">
            <div class='buttonIconWrapper'>
              <mat-icon>add_circle</mat-icon>
            </div>
            <div class='buttonTextWrapper'>
              &nbsp; CREATE
            </div>
          </div>
        </button>
      </div>
    </div>
  </mat-card>
</form>
<mat-divider></mat-divider>
<div *ngIf='!showSpinner'>
  <mat-card class="scBackgroundColor logDiv scHoverText" *ngFor="let nutr_log of listOfNutritionLogs"
    (click)="openManagementDialog(nutr_log)">
    <h5>
      <mat-icon style="vertical-align: middle;margin-top: 10px;">library_books</mat-icon>&nbsp;<div class="logTitle"> {{nutr_log.title}}</div>
    </h5>
    <table class="subTextTable">
      <col width="33.33%" />
      <col width="33.33%" />
      <col width="33.33%" />
      <tr>
        <td>
          Goal: <br><span
            class="scThemeText subTextValue">{{this.nutrConstants.getDisplayForGoal(nutr_log.goal)}}</span>
        </td>
        <td>
          Date Created: <br><span class="scThemeText subTextValue">{{nutr_log.id | date : 'dd/MM/yy'}}</span>
        </td>
        <td>
          Last Edit: <br><span class="scThemeText subTextValue">{{nutr_log.lastEdit | date : 'dd/MM/yy '}}</span>
        </td>
      </tr>
    </table>
  </mat-card>
</div>
<smart-coach-spinner-wheel *ngIf="showSpinner" [spinnerMessage]="this.spinnerMessage"></smart-coach-spinner-wheel>