<div class="wrapper gradientAnimationBackground">
  <div class='header'>
    <div class='logTitle'>
      <mat-icon class='scThemeText'>vibration</mat-icon>
      <p class='realTitle thick' [innerHTML]="getCurrentStage().title"></p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="logSubtitle thick" *ngIf="getCurrentStage().subtitle">
    <p [innerHTML]="getCurrentStage().subtitle"></p>
  </div>
  <div class="messageHolder">
    <div class="message" id="scrollToTop" [innerHTML]="getCurrentStage().message"></div>
  </div>
  <div class="buttonGroupWrapper">
    <div class="buttonGroup">
      <div class="halfButtonWrapper" *ngIf="onIntermediateInstruction()">
        <button class="scThemeButton buttonGroupButton" mat-raised-button (click)="previousStage()">
          <div class='buttonFlexManager' fxLayout="row">
            <div class='buttonIconWrapper'>
              <mat-icon>skip_previous</mat-icon>
            </div>
            <div class='buttonTextWrapper'>
              &nbsp; PREV
            </div>
          </div>
        </button>
        <button class="scThemeButton buttonGroupButton" mat-raised-button (click)="nextStage()">
          <div class='buttonFlexManager' fxLayout="row">
            <div class='buttonTextWrapper'>
              NEXT
            </div>
            <div class='buttonIconWrapper'>
              <mat-icon>skip_next</mat-icon>
            </div>
          </div>
        </button>
      </div>
      <button class="greyButton buttonGroupButton" mat-raised-button *ngIf="onLastInstruction()"
        (click)="this.dialogRef.close()">
        <div class='buttonFlexManager' fxLayout="row">
          <div class='buttonIconWrapper'>
            <mat-icon>cancel_presentation</mat-icon>
          </div>
          <div class='buttonTextWrapper'>
            &nbsp; CLOSE
          </div>
        </div>
      </button>
      <button class="greyButton buttonGroupButton" mat-button *ngIf="onIntermediateInstruction()"
        (click)="this.closeDialog()">
        <div class='buttonFlexManager' fxLayout="row">
          <div class='buttonIconWrapper'>
            <mat-icon>cancel_presentation</mat-icon>
          </div>
          <div class='buttonTextWrapper'>
            &nbsp; CLOSE
          </div>
        </div>
      </button>
      <button class="scThemeButton buttonGroupButton" mat-button *ngIf="onFirstInstruction()" (click)="nextStage()">
        <div class='buttonFlexManager' fxLayout="row">
          <div class='buttonIconWrapper'>
            <mat-icon>local_library</mat-icon>
          </div>
          <div class='buttonTextWrapper'>
            &nbsp; I WANT TO LEARN
          </div>
        </div>
      </button>
      <button class="greyButton buttonGroupButton" mat-button (click)="closeDialog()" *ngIf="onFirstInstruction()">
        <div class='buttonFlexManager' fxLayout="row">
          <div class='buttonIconWrapper'>
            <mat-icon>cancel_presentation</mat-icon>
          </div>
          <div class='buttonTextWrapper'>
            &nbsp; I ALREADY KNOW
          </div>
        </div>
      </button>
    </div>
  </div>
</div>