<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141452031913-ovt6ijteneb1b8d60hu5mesi231fqmce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141452031913-ovt6ijteneb1b8d60hu5mesi231fqmce</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>141452031913-bobho7uc78ho6a1v8un25r3vn9nqkqub.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNfYK5S1f0IhghmHtEWE2ZTskVt554aIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>141452031913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartcoach.app</string>
	<key>PROJECT_ID</key>
	<string>smart-coach-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-coach-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141452031913:ios:d6de1f6b229a395187f6b8</string>
</dict>
</plist>