.operationMessage {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.submitButton,
.greyButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

smart-coach-spinner-wheel {
  display: block;
  margin: auto;
}

.errorText {
  color: red;
  font-style: italic;
  text-align: center;
  height: 80px;
}

.login-main {
  overflow-y:auto;
}

.greyButton {
  margin-top: 10px;
}

#deleteMessage{
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

form{
  display:flex;
  align-items: center;
  justify-content: center;
  min-height:200px;
}

.spinnerMessage{
  font-style:italic;
  font-weight: bold;
  width:100%;
  text-align: center;
  font-size: small;
}

.inputWidth {
  width: 85%;
}