.maxWidth {
  display: block;
  margin: auto;
  max-width: 800px;
  margin-top: 10px;
}

h1 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-form-field,
.fake-mat-form-field {
  width: 60%;
  text-align: center;
}

mat-form-field {
  margin-bottom: -4px;
}

.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 290px;
  font-size: xx-large;

}

mat-label {
  text-align: center;
  font-size: xx-large;
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for WebKit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

mat-card {
  min-width: 40%;
  text-align: center;
}

.inches {
  width: 30%
}

mat-button-toggle-group {
  width: 90%;
}

mat-button-toggle {
  width: 50%;
}

.deleteCard {
  border-width: 5px;
  border-style: solid;
  font-weight: bold;
  display: block;
  margin: auto;
  color: red;
  font-weight: bold;
  border-color: red;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 95%;
}

.matLabelText {
  text-align: center;
  color: black;
  font-size: small;
}

.displayTable {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.userProperty {
  font-weight: bold;
  font-size: medium;
}

.userPropertyValue {
  font-weight: bold;
  font-size: medium;
}

.profileCard {
  margin-top: 10px;
}

.preferenceTable {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

mat-select,
mat-option {
  text-align: center;
}

form {
  width: 95%;
  display: block;
  margin: auto;
}

mat-error {
  font-size: small
}

::ng-deep .editSelects .mat-select-arrow {
  border: none !important;
}

.emailInput {
  width: 90%;
  max-width: 300px;
}

.emailChangedSubtext {
  color: red;
  font-size: small;
  font-style: italic;
  width: 80%;
  display: block;
  margin: auto;
}

.usernameDisplay {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

h1 {
  display: flex;
  font-size: x-large;
  text-align: left;
}

.displayTable tr {
  margin-top: 5px;
}

smart-coach-spinner-wheel {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/* Align table content  */
.displayTable tr td {
  width: 50%;
  border-bottom: 0.5px solid #0000001f;
}

.buttonGroup {
  margin-top: 15px;
}

.feet {
  padding-right: 10px !important;
  width: 30%
}

.forceMaxContent {
  width: max-content !important;
}

.hideFirstDividerWhenDisabled>.firstDivider {
  display: none;
}