.logTitle {
  width: 100%;
  font-size: large;
  text-align: center;
  font-weight: bold;
}

.logTitle mat-icon {
  float: left;
}

.realTitle {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.center {
  text-align: center;
}

.margin-top {
  margin-top: 3%;
}