<div class="wrapper scrolling-section">
  <div class="text-center gradientAnimationBackground" *ngIf="getProduct() != null">
    <div class="logoFlexManager">
      <div class="logoImage">
        <img alt="Footer logo" src="./assets/cube-min.png">
      </div>
      <h5 class="productTitle">{{this.getProduct().title}}</h5>
    </div>
    <p class="price">{{this.getProduct().price}}<sub>/{{this.getProduct().billingPeriodUnit}}</sub></p>
    <div class="sellingPoints"
      *ngIf="(this.getProduct().canPurchase) || purchaseInProgress() || (this.environmentService.isMobile && !notOwnedOrAvailableToBegin)"
      [innerHTML]="getProductSellingPoints()">
    </div>
    <div class="cannotPurchase smallMessageForMobile"
      *ngIf="this.environmentService.isMobile && !(this.getProduct().canPurchase) && !purchaseInProgress() && notOwnedOrAvailableToBegin">
      You can not purchase this product because your <span *ngIf="this.environmentService.isiOS">iTunes</span><span
        *ngIf="this.environmentService.isAndroid">Google</span> account already owns this product. If you wish to
      purchase this product on this account and you already have an active subscription on another account, you can
      either cancel your existing subscription and purchase the product on this account, or use the restore purchases
      button to transfer the active subscription to this account.
    </div>
    <div class="spinnerButtonWrapper">
      <div *ngIf="this.environmentService.isiOS && purchaseInProgress()">
        <smart-coach-spinner-wheel class="spinnerWrapper" [spinnerMessage]="this.spinnerMessage">
        </smart-coach-spinner-wheel>
      </div>
      <div *ngIf="this.environmentService.isAndroid && !(this.getProduct().canPurchase)">
        <smart-coach-spinner-wheel class="spinnerWrapper" [spinnerMessage]="this.spinnerMessage">
        </smart-coach-spinner-wheel>
      </div>
      <div class='buttonGroup'>
        <app-checkout-button *ngIf="this.environmentService.isWeb"></app-checkout-button>
        <button class="scThemeButton buttonGroupButton" mat-raised-button (click)="this.handlePurchaseClick()"
          *ngIf="this.environmentService.isiOS && this.getProduct().canPurchase && !purchaseInProgress() ">
          <div class='buttonFlexManager' fxLayout="row">
            <div class='buttonIconWrapper'>
              <mat-icon>check_circle_outline</mat-icon>
            </div>
            <div class='buttonTextWrapper'>
              &nbsp;&nbsp;PURCHASE
            </div>
          </div>
        </button>
        <button class="scThemeButton buttonGroupButton" mat-raised-button (click)="this.handlePurchaseClick()"
          *ngIf="this.environmentService.isAndroid && this.getProduct().canPurchase">
          <div class='buttonFlexManager' fxLayout="row">
            <div class='buttonIconWrapper'>
              <mat-icon>check_circle_outline</mat-icon>
            </div>
            <div class='buttonTextWrapper'>
              &nbsp;&nbsp;PURCHASE
            </div>
          </div>
        </button>
        <button class="greyButton buttonGroupButton" mat-raised-button (click)="this.dialogRef.close()">
          <div class='buttonFlexManager' fxLayout="row">
            <div class='buttonIconWrapper'>
              <mat-icon>cancel</mat-icon>
            </div>
            <div class='buttonTextWrapper'>
              &nbsp;&nbsp;CLOSE
            </div>
          </div>
        </button>
      </div>
    </div>
    <!-- SEPARATE SMALL MESSAGES BECAUSE THE HIDE/SHOW LOGIC IS PLATFORM DEPENDENT -->
    <!-- WEB -->
    <div class="freeTrial" *ngIf="!userIsUnpaid()"> Free Trial -
      {{this.permissions.daysLeftInCurrentUserTrial()}} Days Left </div>
    <div class="freeTrial" *ngIf="userIsUnpaid()"> Free Trial - 0 Days Left </div>
    <div class="freeTrial smallMessageForMobile ios" *ngIf="this.environmentService.isWeb">
      Upon confirmation of your purchase, an amount equal to the subscription price will be applied to your account.
      Unless canceled within 24 hours before the end of the current period, subscriptions will automatically renew at
      the full price of the subscription. Your account settings allow you to cancel at any time after purchase. If you
      purchase a subscription, any unused portion of your free trial period will be forfeited.
    </div>
    <!-- IOS -->
    <div class="freeTrial smallMessageForMobile ios"
      *ngIf="this.environmentService.isiOS && (((this.environmentService.isMobile && this.getProduct().canPurchase) || (this.environmentService.isMobile && !notOwnedOrAvailableToBegin)) && !this.purchaseInProgress())">
      Upon confirmation of your purchase, an amount equal to the subscription price will be applied to your iTunes
      account. Unless canceled within 24 hours before the end of the current period, subscriptions will automatically
      renew at the full price of the subscription. Your account settings allow you to cancel at any time after purchase.
      If you purchase a subscription, any unused portion of your free trial period will be forfeited.
    </div>
    <!-- ANDROID -->
    <div class="freeTrial smallMessageForMobile android"
      *ngIf="this.environmentService.isAndroid && ((this.environmentService.isMobile && this.getProduct().canPurchase) || (this.environmentService.isMobile && !notOwnedOrAvailableToBegin))">
      Upon confirmation of your purchase, an amount equal to the subscription price will be applied to your Google
      account. Unless canceled within 24 hours before the end of the current period, subscriptions will automatically
      renew at the full price of the subscription. Your account settings allow you to cancel at any time after purchase.
      If you purchase a subscription, any unused portion of your free trial period will be forfeited.
    </div>
    <button class="scThemeButton buttonGroupButton restorePurchaseButton" mat-raised-button
      (click)="this.IAP.restorePurchases()" *ngIf="this.environmentService.isiOS">
      <div class='buttonFlexManager' fxLayout="row">
        <div class='buttonIconWrapper'>
          <mat-icon>restore</mat-icon>
        </div>
        <div class='buttonTextWrapper'>
          &nbsp;&nbsp;RESTORE PURCHASE
        </div>
      </div>
    </button>
    <div class="termsAndPP">
      <span class="scThemeText" (click)="goToTerms()">Terms of Service</span>&nbsp;and&nbsp;<span
        (click)="goToPrivacy()" class="scThemeText">Privacy Policy</span>
      <br>
    </div>
  </div>
</div>