.login-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  z-index: 25;
  height: fit-content;
  margin-top: 10px;
  padding-bottom: 10vh
}

.mainContent {
  width: 90%;
  min-width: 290px !important;
  max-width: 800px;
}

.clickToReg a {
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

mat-card-title {
  font-weight: bold;
}

mat-form-field {
  width: 90%;
  font-size: large;
}

.email,
.password {
  margin-left: auto;
  margin-right: auto;
}

.clickToReg {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

a {
  font-style: italic;
}

.errorText {
  color: red;
  font-weight: bold;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.mat-card-content {
  margin-bottom: 0 !important;
  padding-top: 5px;
}

mat-icon {
  float: right;
}

.inputWidth {
  width: 85%;
}