<div class="resourcesTitle">
    TDEE: What Is It? Why Is It So Important?
</div>
<div class="paragraph">
    <p>TDEE (Total Daily Energy Expenditure) is the <span class="thick">total energy used</span> by a person during a 24-hour
        period. There are <span class="thick">FOUR</span> main components of TDEE: </p>
    <p>◈ <span class="thick">Basal Metabolic Rate (BMR)</span></p>
    <p>◈ <span class="thick">Thermic Effect of Food (TEF)</span></p>
    <p>◈ <span class="thick">Non-Exercise Activity Thermogenesis (NEAT)</span></p>
    <p>◈ <span class="thick">Exercise Activity Thermogenesis (EAT)</span></p>
</div>
<div class="imageHolder">
    <img src="./assets/resources/TDEE_CHART-min.png" alt="TDEE CHART">
</div>
<div class="paragraph">
    ◈ <span class="thick">Up to 75% of TDEE is BMR,</span> which is defined as <span class="thick">energy cost during absolute rest,</span> such as when you sleep.
</div>

<div class="paragraph">
    ◈ <span class="thick">Non-Exercise Activity Thermogenesis (NEAT)</span> refers to the <span class="thick">calories burned through activities other than exercise,</span> including fidgeting, standing, and staying upright. NEAT contributes to about <span class="thick">~10 - 15 percent of your TDEE.</span>
</div>

<div class="paragraph">
    ◈ The <span class="thick">Thermic Effect of Food (TEF)</span> is the increase in energy expenditure associated with <span class="thick">digestion, absorption, and storage</span> of food, and accounts for <span class="thick">approximately 10% of the Total Daily Energy Expenditure;</span> many believe there exist facultative as well as fixed
    components, yet this can be changed with the macronutrient composition of a meal.
</div>

<div class="paragraph">
    ◈ <span class="thick">Exercise Activity Thermogenesis (EAT)</span> or <span class="thick">physical activity</span> is
    another element of TDEE, which <span class="thick">varies</span> from person to person. Check out the resource <span class="thick">'Activity Level Guide'</span> for more details.
</div>

<div class="paragraph">
    ◈ <span class="thick">Weight loss occurs when you eat less than your TDEE and weight gain occurs when you eat more than your TDEE. </span>Thus, <span class="thick">knowing your TDEE</span> is <span class="thick">important</span> for <span class="thick">optimizing your body composition, performance, and nutrition if you have health, physique, or sports performance goals.</span>
</div>

<div class="paragraph">
    ◈ We have developed a Machine Learning model to <span class="thick">estimate TDEE</span> in an accurate and accessible manner. Our
    research indicates that our model has a <span class="thick">much lower error rate</span> than the <span class="thick">most popular existing TDEE estimation methods.</span> Using this model, we have developed an algorithm that provides <span class="thick"></span>Evidence-Based recommendations for a calorie intake that <span class="thick">aligns</span> with an individual's body composition goal.
</div>

<div class="paragraph">
    ◈ We use this Machine Learning model and algorithm to estimate your TDEE and give you feedback on your nutrition
    data as you use SmartCoach™.
</div>