<div class="resourcesTitle">
    What Is Nutrition Periodization?
</div>
<div class="paragraph">
    ◈ Nutritional Periodization is the <span class="thick">planned, strategic, and purposeful</span> use of <span class="thick">specific nutrition changes</span> to <span class="thick">enhance</span> the adaptations targeted by <span class="thick">individual exercise sessions</span> or <span class="thick">periodic training plans,</span> or to
    <span class="thick">enhance performance or appearance</span> over time.
</div>
<div class="paragraph">
    ◈ During periods of bulking, cutting, and maintaining, you can <span class="thick">improve your performance and appearance. Caoric surpluses</span> and <span class="thick">deficits</span> are induced during these periods <span class="thick">primarily through macronutrient manipulation,</span> such as <span class="thick">dietary changes in fat or carbohydrates.</span>
</div>
<div class="imageHolder">
    <img src="./assets/resources/PERIODIZATION_CHART-min.png" alt="Periodization flowchart">
</div>
<div class="paragraph">
    ◈ There is little evidence to support an <span class="thick">ideal nutrition periodization</span> over the long term. To see fat loss, <span class="thick">comit to cutting for 6 - 8 weeks,</span> while to see muscle gain, <span class="thick">commit to bulking for 12 - 16 weeks.</span> It is <span class="thick">important</span> to support both of these
    goals with <span class="thick">resistance</span> and <span class="thick">cardiovascular training.</span>
</div>
<div class="paragraph">
    ◈ We help you implement a periodized tracking scheme by splitting your data into <span class="thick">logs</span> so that our algorithm is able to make <span class="thick">more accurate adjustments</span> and <span class="thick">remove noise</span> in your data. This <span class="thick">leads to better feedback and quicker results!</span>
</div>
<div class="paragraph">
    ◈ See our <span class="thick">Cutting</span> and <span class="thick">Bulking recommendation resources for more specific guidance</span> on how to <span class="thick">optimize</span> your nutrition for your goal.
</div>