<div class="resourcesTitle">
    How Do I Choose My Activity Level?
</div>
<div class="paragraph">
    ◈ The <span class="thick">activity level</span> you choose will have a <span class="thick">major impact on your initial TDEE estimate. Metabolism Equivalents (METs)</span> were used to develop the standard activity level factors. <span class="thick">One MET is defined as the oxygen consumed while sitting at rest.</span> The most scientific way to find your physical activity level is to <span class="thick">list out all your activities in a day, the time you spent doing them in minutes, and add up the equivalent METs.</span>
</div>
<div class="paragraph">
    ◈ This is <span class="thick">time-consuming</span> and <span class="thick">not practical</span> for most people. Instead, we can <span class="thick">choose from general levels.</span> These are suggested in the <span class="thick">National Dietary Reference Intakes.</span> Listed below are <span class="thick">simplified descriptions</span> divided into <span class="thick">FOUR categories</span> that we and others use.
</div>
<div class="paragraph">
    ◈ If you are reading this resource because you have concerns about which activity level you picked when signing up, <span class="thick">don't worry too much.</span> Our algorithm relies on the activity level you chose <span class="thick">just</span> to make your <span class="thick">initial TDEE estimation.</span> As our algorithm <span class="thick">learns from your data,</span> it will <span class="thick">become</span> closer and closer to your <span class="thick">true TDEE over time.</span> Choose the category that <span class="thick">corresponds to a lower level of activity</span> if you are <span class="thick">unsure between two categories.</span>
</div>
<div class="subResourcesTitle scThemeText">
    Sedentary
</div>
<div class="paragraph">
    People who <span class="thick">don't exercise</span> or <span class="thick">play sports</span> or <span class="thick">work in sedentary jobs</span> use
    this. An example would be a computer programmer who works in a small office and drives to work. <span class="scThemeText thick">*We recommend this option if you are unsure*</span>
</div>
<div class="subResourcesTitle scThemeText">
    Lightly Active
</div>
<div class="paragraph">
    This is used for people <span class="thick">with sedentary jobs</span> that <span class="thick">exercise 2 - 3 times per week.</span> An example would be an office clerk who goes to a circuit training class three times per week.
</div>
<div class="subResourcesTitle scThemeText">
    Active
</div>
<div class="paragraph">
    This is used for those who have <span class="thick">moderately active jobs</span> and <span class="thick">exercise 3 - 4 times per week.</span> An example would
    be a construction worker who lifts heavy objects and is on his/her feet all day, and also exercises after work.
</div>
<div class="subResourcesTitle scThemeText">
    Very Active
</div>
<div class="paragraph">
    This is used for those who have <span class="thick">highly active jobs,</span> and <span class="thick">exercise 4 - 6 times per week.</span> Professional athletes (soccer, football, basketball, etc.,) fall into this category.
</div>