.testimonials-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    max-width: 1140px;
}

.column {
    width: 100%;
    padding: 20px 10px 10px 10px;
}

.heading-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1.3;
    padding: 0px 10px 0px 10px;
}

.stars {
    text-align: center;
    color: #FFBC33;
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 15px;
}

mat-card-title {
    font-size: 16px;
    font-weight: 600;
}

.mat-card-subtitle {
    margin-top: -25px !important;
    padding-left: 90px;
}

.testimonial-card {
    margin: 10px auto 10px auto;
    width: 85%;
    height: 100%;
}

.transformation-card {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 10px auto 10px auto;
}

.circle {
    border-radius: 50px;
    margin-top: 15px;
}

.username {
    font-size: 18px;
    font-weight: 600;
}

img {
    margin: 0px 10px 0px 0px;
}

.user-quote {
    margin: 15px 15px 15px 15px !important;
    font-size: 20px;
}

.header-content {
    margin-top: -20px;
}

.testimonial-image {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.space-bottom {
    margin-bottom: 50px;
}

.appSpinnerWrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingSpinner {
    width: fit-content;
    display: block;
    margin: auto;
    margin-top: 25%;
}